@keyframes comein{
    0%
    {background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border-radius: 0px 0% 0% 0px/0px 50% 50% 0px;
    height: 100vh;
    width: 75%;};
    100%
    {background: white;
    border-radius: 0px 65% 65% 0px/0px 50% 50% 0px;
    height: 100vh;
    width: 75%;};
    }
@keyframes rotateimg{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.comein2{
    animation: comein 3s;
    background: white;
    border-radius: 0px 65% 65% 0px/0px 50% 50% 0px;
    height: 100vh;
    width: 75%;
    position: absolute;
    top: 0px;
}
.comein1{
    animation: comein 3s;
    border-radius: 0px 65% 65% 0px/0px 50% 50% 0px;
    background: white;
    height: 100vh;
    width: 75%;
    position: absolute;
    top: 0px;
    display: none;
}
.comein0{
    animation: comein 3s;
    border-radius: 0px 65% 65% 0px/0px 50% 50% 0px;
    background: white;
    height: 100vh;
    width: 75%;
    position: absolute;
    top: 0px;
    display: none;
}
body{
    background:rgba(16, 98, 206, 0.507);
}
title{
    color: aquamarine;
    font-size: large;
}
.wel{
    color: darkgray;
}
.link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-size: 2em;
    color: rgba(24, 55, 208, 0.292);
}
.buimg:hover,.buimg:active{
    animation:rotateimg 2s infinite;
}
.instructions{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (min-width:15em){
    .instructions{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
.instructions>a:hover{
    text-decoration: solid;
}