body{
    background:url(/欢の背影.JPG),repeat-y,center 0;
}
title{
    color: aquamarine;
    font-size: large;
}
.box{
    border:0ch;
}
h1{
    background-color: brown;
}
.wel{
    color: darkgray;
}
.body{
    background-color: aqua;
}