.lead{
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    text-decoration: none;
    height: 3em;
    
}
img{
    size: 3em;
}
    
}
.lead + .key{
    width: 3em;
}