.lead{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 3em;
}
img{
    size: 3em;
}
li{
    display: flexbox;
    text-decoration: none;
}
.lead + .key{
    width: 3em;
}
.list{
    text-decoration: underline;
    text-decoration-color: rgb(249, 252, 252);
}