p{
    background-color: #daf6ff;
    color: black;
    font-size: large;
}
.box{
    width: 80em;
    height: auto;
    border:30px;
    border-color: bisque;
    border-style:solid;
    margin: auto;
    background-color: #daf6ff
}
h2{
    font-size: 200%;
    color: blueviolet;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}
