p{
    background-color: beige;
    color: black;
    font-size: large;
}
.box{
    width: 50em;
    height: auto;
    border: lightgray,30px;
    margin: auto;
    background-color: lightblue;
}
h2{
    font-size: 200%;
    color: blueviolet;
    animation: cubic-bezier(0.075, 0.82, 0.165, 1);
}
